.prl32 {
    padding: 0 32px;
}

.prl26 {
    padding: 0 26px;
}

.f1 {
    flex: 1;
}

.mt48 {
    margin-top: 48px !important;
}

.mt32 {
    margin-top: 32px !important;
}

.mt16 {
    margin-top: 16px !important;
}

.ml24 {
    margin-left: 24px !important;
}

.ml32 {
    margin-left: 32px !important;
}

.ml36 {
    margin-left: 36px !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pb60 {
    padding-bottom: 60px !important;
}

.lh48 {
    line-height: 48px;
}

.c3 {
    color: #333 !important;
}

.c6 {
    color: #666 !important;
}



.fs28 {
    font-size: 28px;
}

.fs24 {
    font-size: 24px !important;
}

.aligin-item-end {
    align-items: flex-end;
}

.icon {
    width: 1em;
    height: 1em;
    /* vertical-align: -0.15em; */
    fill: currentColor;
    overflow: hidden;
  }

  /* @font-face {
      font-family: 'resume';
      src: url('@/static/ttf/SourceHanSansCN-Regular.ttf');
  } */